.form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
} 

.questioncheckbox{
   padding: 5px;
   color: black;
    }
.questioncheckbox:hover{
background-color: olivedrab;
cursor: pointer;
color: orange;
}